.App {
  text-align: center;
}

/*

Code to make an object rotate which was originally left
when the project was initialised. Will leave this here in case
we want to reuse.

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*/
