/*
  Landing View Components
*/

.LandingView {
  height: 100vh;
  color: white;
  background-color: #222534;
}

#logo {
  width:40px;
  height:40px;
  left:42px;
  top:42px;
  position: absolute;
}

#view_block_1 {
  width:100%;
  height:25vh;
}

.name {
  padding: 10px;
  position: relative;
  height:115px;
  margin: auto;
  color: white;
  font-size: 100px;
  text-align: left;
}

.forename {
  width: 600px;
}

.surname {
  width: 360px;
  top: -30px;
  left: 120px;
  display: inline-block;
}

#cursor{
  position: relative;
  top: -15px;
  background-color: #F8C800;
  width: 8px;
  height:100px;
  display: inline-block;
  left:130px;
  opacity: 0;
  animation-name: cursor_animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

#landing_view_info {
  width: 600px;
  position:relative;
  top: 25px;
  margin: auto;
  padding:10px;
  text-align: left; 
  letter-spacing: -1px;
}

#landing_view_footer {
  position: absolute;
  width: 100%;
  bottom: 8vh;
  animation-name: footer_animation;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

/*  
  Animations
*/

@keyframes footer_animation {
  0% {bottom: 8vh;}
  5% {bottom: 7vh;}
  10% {bottom:8vh;}
}

@keyframes cursor_animation {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

/*
  Adjustments for different screen sizes
*/

/* IPad */
/* change location of name slighlty depending on the screen height
   do this first so that mobile device code below is more likely to run */
@media only screen and (max-height: 900px) {
  #view_block_1 {
    height:15vh;
  }
}

/* Phone */
@media only screen and (max-width:600px) {
  #logo {
    visibility: hidden;
  }
  #view_block_1 {
    height:10vh;
  }
  .name {
    font-size: 75px;
    width: 90%;
    text-align: center;
    left: 0px;
  }
  .surname {
    top: -60px;
  }
  #landing_view_info {
    width: 90%;
    top: -20px;
    text-align: center;
  }
  #landing_view_footer {
    bottom: 60px;
    animation-name: none;
  }
}