/*
  View Defaults
*/
* {
  font-weight: bold;
}

.View {
  width: 100%;
  position: relative;
  padding-top: 25px;
  overflow: hidden;
}

/* Adjust views for mobile devices */
@media only screen and (max-width:600px) {
  .View {
    padding-top: 5px;
  }
}
