/*
  Work View
*/

.WorkView {
  color: white;
  background-color: #222534;
}

#WorkContainer {
  margin-top: 50px;
  margin-bottom: 60px;
}

.work_list {
  list-style-type: none;
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  list-style-position: outside;
}

.work_list_item {
  font-weight: normal;
  font-size: 14px;
  text-align: left;
}

.projects_table {
  position: relative;
  table-layout: fixed;
  width: 100%;
}

td.break {
  word-break: break-all;
}

#project_link:link {
  font-weight: normal;
}

@media only screen and (max-width: 600px) {
  #WorkContainer {
    margin-top: 0px;
    margin-bottom: 20px;
  }
}
