/*
  Navigation Bar
*/

.navbar {
  margin: px;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  overflow: hidden;
  padding: 10px;
}

.nav_li {
  display: inline;
}

/*
  Title View
*/
.TitleView {
  position: relative;
  font-size: 40px;
  text-align: left;
}

/* Blue title default */
#blue {
  color: #121625;
}

/* white color */
#white {
  color: white;
}

.TitleView:before {
  color: #f8c800;
  content: "// ";
}
