/*
  Navigation Bar
*/

.navbar {
  margin: px;
  text-align:center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  width:100%;
  overflow: hidden;
  padding: 10px;
}

#nav_li {
  display: inline;
}

/*
  Title View
*/
.TitleView {
  position: relative;
  font-size: 40px;
  color: #121625;
  text-align: left;
}
.TitleView:before {
  color: #F8C800;
  content: "// ";
}